* {
    margin: 0;
    font-family: sans-serif;
}
.p1 {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #673A44;
    color: white;
}
.p2 {
    display: flex;
    gap: 30px;
}
.p3 {
    padding: 15px;
    border-radius: 10px;
    background-color: #673A44;
    color: white;
}
.p4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    margin-top: 30px;
}
.p6 {
    display: none;
}
.p8 , .p9 {
    padding: 30px;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 40%;
}
.p7 , .p10  {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.p11 {
    display: flex;
    justify-content: center;
}
 .p12 {
        display: none;
    }
 .p13 {
        display: none;
    }






@media (max-width:768px) {
    .p5 {
        width: 274px;
    }
    .p4 {
        font-size: 18px;
    }
    .p6 {
        display: none;
    }
    .p10 {
        flex-direction: column;
        row-gap: 30px;
    }
    .p9 {
        width: 80%;
        margin: auto;
        display: flex;
        gap: 30px;
    }
    .p11 {
      display: none;
    }
    .p12 {
        display: none;
    }
    .p13 {
        display: block;
margin: auto;    }

}




@media (max-width:500px) {
    .p6 {
        display: block;
    }
    .p4 {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
    }
    .p5 {
        display: none;
    }
     .p6 {
        width: 274px;
    }
    .p7 {
        flex-direction: column;
        row-gap: 20px;
    }
    .p8 {
        width: 80%;
        margin: auto;
    }
    .p12 {
        display: block;
    }
    .p11 {
        display: none;
    }
    .p13 {
        display: none;
    }
    
}